name: build

on:
  push:
    branches:
      - master
      - 'renovate/**'

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2

      - run: yarn install --frozen-lockfile --link-duplicates

      - run: yarn lint

      - run: yarn jest --maxWorkers=2 --ci --coverage

      - name: Upload coverage
        uses: actions/upload-artifact@v1
        if: always()
        continue-on-error: true
        with:
          name: coverage
          path: coverage

      - name: Codecov
        shell: bash
        if: always()
        continue-on-error: true
        run: bash <(curl -s https://codecov.io/bash)
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: glith deploy
        if: github.ref == 'refs/heads/master'
        run: |
          if [[ ! -z "$GLITCH_PROJECT_ID" ]] && [[ ! -z "$GLITCH_TOKEN" ]]
          then
            yarn sync-glitch
          else
            echo 'missing secrets'
          fi
        env:
          GLITCH_PROJECT_ID: ${{ secrets.GLITCH_PROJECT_ID }}
          GLITCH_TOKEN: ${{ secrets.GLITCH_TOKEN }}
          GH_REPO: ${{ github.repository }}
